<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center >
      <span *ngIf="login">Iniciar Sesión</span>
      <span *ngIf="!login">Crear una cuenta</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background-msn bposy0">
  <div id="avatarLogin" text-center>
    <div class="avatarFrame"
        [ngClass]="{ 'avatarFrameOnline' : user?.status === 'Online',
                      'avatarFrameOffLine' : offlineStatus.includes( user?.status ),
                      'avatarFrameaway' : user?.status === 'Away',
                      'avatarFramebusy' : user?.status === 'Busy' }" >
      <img src="assets/img/generic_avatar.png" class="avatarImg img-fluid">
    </div>
  </div>

  <ion-list margin-top>

    <ion-item *ngIf="!login">
      <ion-icon color="strong" name="person" item-start></ion-icon>
      <ion-input type="text" placeholder="Usuario" value="" [(ngModel)]="user.displayName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon color="strong" name="mail" item-start></ion-icon>
      <ion-input type="email" placeholder="Correo electrónico" value="" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon color="strong" name="lock" item-start></ion-icon>
      <ion-input type="password" placeholder="Contraseña" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon color="strong" name="cloud-circle" item-start></ion-icon>
      <ion-label fixed>Status</ion-label>
      <ion-select [(ngModel)]="user.status">
        <ion-option value="Online">Conectado</ion-option>
        <ion-option value="Away">Ausente</ion-option>
        <ion-option value="Busy">Ocupado</ion-option>
        <ion-option value="AppearOffline">Desconectado</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label fixed>Recordarme</ion-label>
      <ion-checkbox [(ngModel)]="remember" color="toolbar"></ion-checkbox>
    </ion-item>
  </ion-list>

  <div padding>
    <div text-center margin-bottom>
      <a class="pointer" color="strong" (click)="isLogin()" *ngIf="!login">¿Ya tienes cuenta? Inicia sesión.</a>
      <a class="pointer" (click)="isLogin()" *ngIf="login">¿Aún no tienes cuenta? Crea una cuenta.</a>
    </div>
    <hr>
    <button *ngIf="!login" ion-button block round (click)="emailSignUp()">Registrarse</button>
    <button *ngIf="login" ion-button block round (click)="emailLogin()">Ingresar</button>
    <div text-center margin-bottom>
      <a class="pointer" color="strong" (click)="resetPassword()" *ngIf="login">Olvide mi contraseña.</a>
    </div>
    <button color="facebook" ion-button block round (click)="signInWithFacebook()">
      <ion-icon name="logo-facebook"></ion-icon>&nbsp;
      Ingresar con Facebook
    </button>
  </div>
</ion-content>
