page-home {
  ion-list ion-item h2 {
    display: inline-block !important;
  }

  #homeMeContainer {
    margin-top: 64px !important;
  }

  .contact-offline {
    background-color: gray;
    opacity: .5;
  }

  .search-icon {
    font-size: 2em !important;
    padding-right: 10px;
  }
}
