<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>

    <ion-buttons end>
      <button ion-button (click)="goToSearch()">
        <ion-icon class="search-icon" name="search"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <img src="assets/img/logo_live_add.png" class="icon-in-button ">
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="background-msn" text-center *ngIf="!user">
  <div class="load-spinner">
    <ion-spinner name="bubbles" color="secondary"></ion-spinner>
  </div>
</ion-content>

<ion-content class="background-msn" *ngIf="user">

  <ion-grid id="homeMeContainer">
    <ion-row>
      <ion-col col-3>
        <div class="avatarFrame avatarFrameOnline">
          <img src="assets/img/generic_avatar.png" class="avatarImage img-fluid">
        </div>
      </ion-col>
      <ion-col col-9 padding>
        <h3>{{ user?.displayName }}</h3>
        <p>{{ user?.email }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list margin-top>
    <ion-item *ngFor="let user of users"
              [ngClass]="{ 'contact-offline' : offlineStatus.includes( user.status ) }"
              (click)="goToConversation( user )">

      <ion-avatar item-start>
        <img src="assets/img/{{ getIconByStatus( user.status ) }}.png">
      </ion-avatar>
      <h2>{{ user.displayName }}</h2>
      <span> <small>{{ user.status }}</small> </span>

    </ion-item>
  </ion-list>

</ion-content>
